<div class="comment">
  <div class="issue">
    <h2>Submit a Comment on an Issue</h2>

    <table>
      <tr>
        <th>Body</th>
        <th>Options</th>
      </tr>

      <% @topic.comments.each do |comment|%>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to "Edit", edit_topic_comment_path(@topic, comment) %></td>
        <td><%= link_to "Delete", topic_comment_path(@topic, comment), method: :delete %></td>
      </tr>
      <% end %>
    </table>

    <%= @topic.name %>

    <button><a href="/">Return Home</a></button>
    <button><a href="/topics/new">Create New Topic</a></button>

  </div>
</div>
